<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="testing.css" media="screen" >
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <title>Document</title>
</head>
<body>
    
  <div class="container-fluid" style="margin-top:40px; border-top: 1px solid gray">
    <div class="row row-border">
      <div class="col-lg-2 column-border" style="padding-left: 36px">
        method
    </div>
    <div class="col-lg-6 column-border" style="padding-left: 36px;">
      angular
  </div>
  <div class="col-lg-4" style="padding-left: 36px;">
    description
  </div>
  </div>
  
  <div class="row row-border">
    <div class="col-lg-2 column-border" style="padding-left: 36px">
    
    </div>
  <div class="col-lg-6 column-border" style="padding-left: 36px;">
    Angular 8 : Routing Complete tutorial | Example | Java Techie  
  </div>
  <div class="col-lg-4" style="padding-left: 36px;">
    https://www.youtube.com/watch?v=cHr4dytlCFA
  </div>
  </div>
  
  <div class="row row-border">
    <div class="col-lg-2 column-border" style="padding-left: 36px">
    routerlink not working <br>
    &lt;a [routerLink]="['/loginpage']" routerLinkActive="active">login</a &gt;> 
    <br>
    routerLinkActive="active" to add css <br>
    </div> 
  <div class="col-lg-6 column-border" style="padding-left: 36px;">
    add <br>
    import { RouterModule } from '@angular/router'; <br>
    in component.ts <br>
    add <br>
    "add <" "base href="/">" <br><br><br>
    creating component in particular folder<br>
    Quick, Simple and Error free method<br>
    i.e. You want to create a component in a app/component folder, then follow these steps<br>
    Right click on the folder to which you want to create component<br>
    Select Open in Command Prompt option<br>
    In new terminal (you'll see your selected path), then type ng g c my-new-component<br>
    Also you can check this process through this image<br>
    when you use [src]="variable" <br>
    when you use value use src="../location" <br>
      
    <a href="https://www.youtube.com/watch?v=psElhjrYmco&t=986s" target="_blank">Router Link in Angular 8 | Angular 8 Tutorial in Hindi</a> <br>
    <a href="https://www.smashingmagazine.com/2018/11/a-complete-guide-to-routing-in-angular/" target="_blank">angular router</a> <br>
    <a href="https://www.youtube.com/watch?v=VRf21fum3nk" target="_blank">Angular 9 Tutorial For Beginners #39 - Route Guards</a> <br>
    <a href="https://www.youtube.com/watch?v=BLD6abnIrtE" target="_blank">canActivate route Guards in Angular 9 : Angular 9 Full Tutorial in Hindi</a> <br>
    <a href="https://www.sitepoint.com/component-routing-angular-router/" target="_blank">An Introduction to Component Routing with Angular Router</a><br>

    <h4>services</h4>
    <a href="https://www.youtube.com/watch?v=pwuGBvOPFYI" target="_blank" >Angular Tutorial - 17 - Services</a><br>
    <a href="https://www.youtube.com/watch?v=69VeYoKzL6I" target="_blank" >Angular Tutorial - 19 - Using a Service</a><br>
    <a href="https://www.youtube.com/watch?v=xcSK4-Hrjic" >ANGULAR 10: HOW TO BYPASS ANGULAR SECURITY</a><br>

    <h4>slider carousel slickjs</h4>
    <a href="https://www.youtube.com/watch?v=4YQ4svkETS0" >Simple JavaScript Slideshow In 5 Minutes</a><br>
    <a href="https://www.youtube.com/watch?v=8forwQ09Aqs">Brand Logo Slider Using Html, CSS & jQuery Slick Carousel Tutorial</a><br>
    <a href="https://www.youtube.com/watch?v=WHGPvEyk6LM" >bootstrap slider and change images of the slider in angular (creative developer)</a><br>
    
    <h4>table bootstrap ngx</h4>
    <a href="https://www.youtube.com/watch?v=MMo7iq_4BRc">Angular 9 Pagination Example Using ngx-pagination Module and Bootstrap</a><br>

    <h4>table material data table</h4>
    <a href="https://www.youtube.com/watch?v=ao-nY-9biWs&ab_channel=Academind">Angular Material Data Table Tutorial</a><br>
    
    <!-- lazy loading -->
    <h4>lazy loading</h4>
    <a href="https://www.youtube.com/watch?v=hkaa2mnqOI8&ab_channel=TechBoxToUnbox">Lazy Loading in Angular | Lazy Loading Modules in Angular 8</a><br>
    <a href="https://www.youtube.com/watch?v=75XFBIKLPQY&ab_channel=FunOfHeuristic">Lazy loading in angular</a><br>    
    
    lazyloading <br>
    <b>ng g m test</b> - adds module - <b>test.module.ts</b>  inside test <br>
    add module to <b>app.routing.module</b>  <br>
    <b>{path: 'test', loadChildren:'./test/test.module#TestModule'}</b>  <br>
    <b>add component to your test module</b>  <br>
    <b>ng g c home</b>  <br>
    <b>ng g c picture</b>  <br>
    add <b>routing.module</b>  to test module - change <b>forRoot</b>  to  <b>forChild</b>  <br>
    add <b>testRouting</b>  from <br>
    export const <b>testRouting</b>  = RouterModule.forChild(testRoutes) to <br>
    <b>test module imports</b>  <br>
    add component to test routing module <br>    
    
    <h4>router link</h4>
    <textarea name="" id="" cols="80" rows="2">
      <a [routerLink]="['/test']" >Home</a>
    <a [routerLink]="['/test/picture']" routerLinkActivate="activate">Picture</a>
    </textarea>


    <h4>Validating form input</h4>
    <a href="https://angular.io/guide/reactive-forms#validating-form-input">Validating form input</a>


    <h4>canactivate route guard auth guard</h4>
    <a href="https://www.youtube.com/watch?v=GHKNVczkoLI&feature=youtu.be&ab_channel=SahosoftSolutions">CanActivate Route Guards in Angular 8 | Angular 8 Tutorial in Hindi</a> <br>
    <a href="https://www.c-sharpcorner.com/article/angular-authguard/">auth guard</a>
    <a href="https://www.youtube.com/watch?v=6umBWrG2uqY&ab_channel=Saikat%27sTutorial">Session 15 | Protecting Angular Route with Guards</a>
    <a href="https://codeburst.io/using-angular-route-guard-for-securing-routes-eabf5b86b4d1">Using Angular Route Guard For securing routes</a>

    <b>ng g g activate</b> - update <b>active guard</b> in app.module.ts in <b>provider section</b> activeGuard also update <b>service</b> in provider section <br>
    <b>ng g s service</b> 
   

  </div>
  <div class="col-lg-4" style="padding-left: 36px;">
    https://stackoverflow.com/questions/38832851/routerlink-does-not-work <br> <br> <br>
         <br> 
     <br> 
     <br>
    
  </div>
  </div>
  
  <div class="row row-border">
    <div class="col-lg-2 column-border" style="padding-left: 36px">
      href, src url link
    </div>
  <div class="col-lg-6 column-border" style="padding-left: 36px;">
    import {DomSanitizer, SafeUrl} from '@angular/platform-browser'; <br>
    constructor(private sanitizer: DomSanitizer ) { } <br>
    ngOnInit(): void {
       this.youtubeLink = this.sanitizer.bypassSecurityTrustResourceUrl(this.courseDetail[0].video);
     
    } <br>
    array map function <br>
    this.courseCharacteristic = this.courseDetail[0]["courseCharacteristic"].map(val =>val); <br>
    -<ul>
      -<li *ngFor="let element of courseCharacteristic">{{element}}-</li>
      
  -</ul>

  <textarea name="" id="" cols="30" rows="10">
    <ul>
      <li *ngFor="let element of array; let i = index">
        {{i}}. {{element.name}}, {{element.age}}
      </li>
    </ul>
  </textarea>
  <a href="https://malcoded.com/posts/angular-ngfor/" target="_blank">Angular NgFor: Everything you need to know</a> <br>
  <a href="https://ultimatecourses.com/blog/angular-ngfor-index" target="_blank">Accessing the index inside NgFor</a>
  <a href="https://www.youtube.com/watch?v=qj_AZ_FkPtQ" target="_blank">angular youtube player</a>
  <a href="https://github.com/nkoehler/mat-video" target="_blank">mat video</a>

  </div>
  <div class="col-lg-4" style="padding-left: 36px;">
    
  </div>
  </div>


  <div class="row row-border">
    <div class="col-lg-2 column-border" style="padding-left: 36px">
      unordered list *ngFor - flex
    </div>
  <div class="col-lg-6 column-border" style="padding-left: 36px;">
    
    <textarea name="" id="" cols="30" rows="10">
      <ul>
        <li *ngFor="let postData of posts">
          <post [title]="postData.title"
                [postTest]="postData.postText"></post>
        </li>
      </ul>    
    </textarea>

    <textarea name="" id="" cols="30" rows="10">
      <ul>
        <li *ngFor="let postData of posts">
          {{postData}}
        </li>
      </ul>    
    </textarea>

    <textarea name="" id="" cols="30" rows="10">
      <div class="container m-0 d-flex flex-row">
        <div class="coursevideo-flex" *ngFor="let element of testArray" >
          <app-coursevideo ></app-coursevideo>    
          <!-- test -->
        </div>
      
      </div>
    </textarea>

    <h4>angular 8 get input value</h4>
    <textarea name="" id="" cols="30" rows="10">
      @Component({
        selector: 'app-key-up4',
        template: `
          <input #box
            (keyup.enter)="update(box.value)"
            (blur)="update(box.value)">
      
          <p>{{value}}</p>
        `
      })
      export class KeyUpComponent_v4 {
        value = '';
        update(value: string) { this.value = value; }
      }
    </textarea>

    <a href="https://www.codegrepper.com/code-examples/swift/router.navigate+angular+8">router.navigate angular 8</a>
    
  </div>
  <div class="col-lg-4" style="padding-left: 36px;">
    
  </div>
  </div>
  
  </div>

  <script type="text/javascript" src="testing.js"></script>
</body>
</html>