<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="testing.css" media="screen" >
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <title>Document</title>
</head>
<body>
    
  <div class="container-fluid" style="margin-top:40px; border-top: 1px solid gray">
    <div class="row row-border">
      <div class="col-lg-2 column-border" style="padding-left: 36px">
        method
    </div>
    <div class="col-lg-6 column-border" style="padding-left: 36px;">
      angular
  </div>
  <div class="col-lg-4" style="padding-left: 36px;">
    description
  </div>
  </div>
  
  <div class="row row-border">
    <div class="col-lg-2 column-border" style="padding-left: 36px">
    
    </div>
  <div class="col-lg-6 column-border" style="padding-left: 36px;">
    Angular 8 : Routing Complete tutorial | Example | Java Techie  
  </div>
  <div class="col-lg-4" style="padding-left: 36px;">
    https://www.youtube.com/watch?v=cHr4dytlCFA
  </div>
  </div>
  
  <div class="row row-border">
    <div class="col-lg-2 column-border" style="padding-left: 36px">
    routerlink not working <br>
    &lt;a [routerLink]="['/loginpage']" routerLinkActive="active">login</a &gt;> 
    <br>
    routerLinkActive="active" to add css <br>
    </div> 
  <div class="col-lg-6 column-border" style="padding-left: 36px;">
    add <br>
    import { RouterModule } from '@angular/router'; <br>
    in component.ts <br>
    add <br>
    "add <" "base href="/">" <br>
    
    <a href="https://www.youtube.com/watch?v=psElhjrYmco&t=986s" target="_blank">Router Link in Angular 8 | Angular 8 Tutorial in Hindi</a> <br>
    <a href="https://www.smashingmagazine.com/2018/11/a-complete-guide-to-routing-in-angular/" target="_blank">angular router</a> <br>
    <a href="https://www.youtube.com/watch?v=VRf21fum3nk" target="_blank">Angular 9 Tutorial For Beginners #39 - Route Guards</a> <br>
    <a href="https://www.youtube.com/watch?v=BLD6abnIrtE" target="_blank">canActivate route Guards in Angular 9 : Angular 9 Full Tutorial in Hindi</a> <br>
    <a href="https://www.sitepoint.com/component-routing-angular-router/" target="_blank">An Introduction to Component Routing with Angular Router</a>
    <a href="https://www.youtube.com/watch?v=pwuGBvOPFYI" target="_blank" >Angular Tutorial - 17 - Services</a>
    <a href="https://www.youtube.com/watch?v=69VeYoKzL6I" target="_blank" >Angular Tutorial - 19 - Using a Service</a>
    <a href="https://www.youtube.com/watch?v=xcSK4-Hrjic" >ANGULAR 10: HOW TO BYPASS ANGULAR SECURITY</a>
  </div>
  <div class="col-lg-4" style="padding-left: 36px;">
    https://stackoverflow.com/questions/38832851/routerlink-does-not-work <br> <br> <br>
     <br> 
     <br> 
     <br>
    
  </div>
  </div>
  
  <div class="row row-border">
    <div class="col-lg-2 column-border" style="padding-left: 36px">
      href, src url link
    </div>
  <div class="col-lg-6 column-border" style="padding-left: 36px;">
    import {DomSanitizer, SafeUrl} from '@angular/platform-browser'; <br>
    constructor(private sanitizer: DomSanitizer ) { } <br>
    ngOnInit(): void {
       this.youtubeLink = this.sanitizer.bypassSecurityTrustResourceUrl(this.courseDetail[0].video);
     
    } <br>
    array map function <br>
    this.courseCharacteristic = this.courseDetail[0]["courseCharacteristic"].map(val =>val); <br>
    -<ul>
      -<li *ngFor="let element of courseCharacteristic">{{element}}-</li>
      
  -</ul>
  <a href="https://malcoded.com/posts/angular-ngfor/" target="_blank">Angular NgFor: Everything you need to know</a> <br>
  <a href="https://ultimatecourses.com/blog/angular-ngfor-index" target="_blank">Accessing the index inside NgFor</a>
  <a href="https://www.youtube.com/watch?v=qj_AZ_FkPtQ" target="_blank">angular youtube player</a>
  <a href="https://github.com/nkoehler/mat-video" target="_blank">mat video</a>

  </div>
  <div class="col-lg-4" style="padding-left: 36px;">
    
  </div>
  </div>


  <div class="row row-border">
    <div class="col-lg-2 column-border" style="padding-left: 36px">
      unordered list *ngFor - flex
    </div>
  <div class="col-lg-6 column-border" style="padding-left: 36px;">
    
    <textarea name="" id="" cols="30" rows="10">
      <ul>
        <li *ngFor="let postData of posts">
          <post [title]="postData.title"
                [postTest]="postData.postText"></post>
        </li>
      </ul>    
    </textarea>

    <textarea name="" id="" cols="30" rows="10">
      <ul>
        <li *ngFor="let postData of posts">
          {{postData}}
        </li>
      </ul>    
    </textarea>

    <textarea name="" id="" cols="30" rows="10">
      <div class="container m-0 d-flex flex-row">
        <div class="coursevideo-flex" *ngFor="let element of testArray" >
          <app-coursevideo ></app-coursevideo>    
          <!-- test -->
        </div>
      
      </div>
    </textarea>
    
  </div>
  <div class="col-lg-4" style="padding-left: 36px;">
    
  </div>
  </div>
  
  </div>

  <script type="text/javascript" src="testing.js"></script>
</body>
</html>